@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  
  background-image: url('/static/background.png');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
